@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  font-family: 'Suisse Regular', sans-serif;
}

@font-face {
  font-family: 'Suisse Regular';
  src: url('./src/assets/fonts/SuisseIntl-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
